.myToolbar {
    margin: 5px 5px 0 0;
}
.myToolbar div {
    background-image: url("img/editing_tool_bar.png");
    background-repeat: no-repeat;
    margin: 0 0 5px 5px;
    width: 24px;
    height: 22px;
    cursor: pointer
}
/* positions */
.myToolbar {
    right: 0;
    top: 0;
}
.myToolbar div {
    float: right;
}
/* individual controls */
.myToolbar .olControlNavigationItemInactive {
    background-position: -103px -1px;
}
.myToolbar .olControlNavigationItemActive {
    background-position: -103px -24px;
}
.myToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -77px -1px;
}
.myToolbar .olControlDrawFeaturePointItemActive {
    background-position: -77px -24px;
}
.myToolbar .olControlDrawFeaturePathItemInactive {
    background-position: -51px -1px;
}
.myToolbar .olControlDrawFeaturePathItemActive {
    background-position: -51px -24px;
}
.myToolbar .olControlDrawFeaturePolygonItemInactive{
    background-position: -26px -1px;
}
.myToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -26px -24px;
}
.myToolbar .olControlModifyFeatureItemInactive {
    background-position: -77px -1px;;
}
.myToolbar .olControlModifyFeatureItemActive {
    background-position: -77px -24px;;
}
#details, #other_details{
	background:#fff;
	width:200px;
	font-family:georgia, serif;
	border:1px dotted #999;
	padding:20px;
	position:absolute;
	margin-left:140px;
	margin-top:100px;
	z-index:2;
	
}
.drag_box_handle{
	width:200px !important;
	margin:-10px -20px 10px -20px;
	float:left;
	font-size:.8em;
	color:#ccc;
	padding:4px 20px;
	border-bottom:1px dotted #ccc;
}
#details textarea, #other_details textarea{
	width:160px;
	height:200px;
}
#details input{
	clear:left;

}
