  div.olControlZoomPanel .olControlZoomInItemInactive,
            div.olControlZoomPanel .olControlZoomOutItemInactive {
                background: rgba(0,0,0,0.2);
                position: absolute;
            }
            div.olControlZoomPanel .olControlZoomInItemInactive {
                border-radius: 5px 5px 0 0;
            }
            div.olControlZoomPanel .olControlZoomOutItemInactive {
                border-radius: 0 0 5px 5px ;
                top: 37px;
            }
            div.olControlZoomPanel .olControlZoomOutItemInactive:after,
            div.olControlZoomPanel .olControlZoomInItemInactive:after {
                font-weight: bold;
                content: '+';
                font-size: 36px;
                padding:  7px;
                z-index: 2000;
                color: #fff;
                line-height: 1em;
            }
            div.olControlZoomPanel .olControlZoomOutItemInactive:after {
                content: '–';
                line-height: 0.9em;
                padding: 0 8px;
            }
            div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
                display: none;
            }

.myToolbar {
    margin: 5px 5px 0 0;
}
.myToolbar div {
    background-image: url("img/editing_tool_bar_big.png");
    background-repeat: no-repeat;
    margin: 0 0 5px 5px;
    width: 48px;
    height: 44px;
    cursor: pointer
}
/* positions */
.myToolbar {
    right: 0;
    top: 0;
}
.myToolbar div {
    float: right;
}
/* individual controls */
.myToolbar .olControlNavigationItemInactive {
    background-position: -206px -2px;
}
.myToolbar .olControlNavigationItemActive {
    background-position: -206px -48px;
}
.myToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -154px -2px;
}
.myToolbar .olControlDrawFeaturePointItemActive {
    background-position: -154px -48px;
}
.myToolbar .olControlDrawFeaturePathItemInactive {
    background-position: -102px -2px;
}
.myToolbar .olControlDrawFeaturePathItemActive {
    background-position: -102px -48px;
}
.myToolbar .olControlDrawFeaturePolygonItemInactive{
    background-position: -52px -2px;
}
.myToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -52px -48px;
}
.myToolbar .olControlModifyFeatureItemInactive {
    background-position: -154px -2px;
}
.myToolbar .olControlModifyFeatureItemActive {
    background-position: -154px -48px;
}
.olControlAttribution { 
    bottom: 0px; right: 0px; background-color: white; 
}   

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
 
