<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript"  src="http://openlayers.org/dev/OpenLayers.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>

<script type="text/javascript" src="http://www.uvm.edu/~mhack/dom-drag.js"></script> 
<!--
<script type="text/javascript" src="http://www.uvm.edu/~mhack/jquery-ui-bill/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://www.uvm.edu/~mhack/jquery-ui-bill/js/jquery-ui-1.8.16.custom.min.js"></script>
<link type="text/css" href="http://www.uvm.edu/~mhack/jquery-ui-bill/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />  -->

<link type="text/css" rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" />
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
<script>
    var properties_style = {'strokeColor': 'blue', 'strokeWidth': 2.2, 'fillOpacity': 0, 'strokeDashstyle': 'longdash', 'label': "${name}\n${acres} acres", 'labelAlign': "cc", 'fontColor': "#D6F21D", 'fontOpacity': 0.8, 'fontFamily': "Arial", 'fontSize': 14, 'pointRadius': 5};
    var properties_sketch_style = OpenLayers.Util.applyDefaults({'label': null, 'fillColor': 'grey', 'strokeColor': 'red'}, properties_style);
    LAYER_CONFIG = {
        'properties': {
            'title': 'Properties',
            'form': 'properties_form',
            'type': 'Polygon',
            'multi': true,
            'editable': true,
            styleMap: new OpenLayers.StyleMap({'default': properties_style, 'temporary': properties_sketch_style, 'select': properties_sketch_style})
        },
        'cells': {
            'title': 'Cells',
            'form': 'properties_form',
            'type': 'Polygon',
            'multi': true,
            styleMap: new OpenLayers.StyleMap({'strokeColor': 'yellow', 'strokeWidth': 1, 'fillColor': 'red', 'fillOpacity': 0.3})
        },
        'paddocks': {
            'title': 'Paddocks',
            'form': 'paddocks_form',
            'type': 'Polygon',
            'multi': true,
            styleMap: new OpenLayers.StyleMap({'strokeColor': 'red', 'strokeWidth': 1, 'fillColor': 'blue', 'fillOpacity': 0.3})
        }
    };    
    currentFeature = null;
    var map = null;
    function featureSelected(evt) {
        var type = evt.feature.layer.name;
        var html = '<b>'+type+'</b><ul>';
        for (var key in evt.feature.attributes) {
            html += '<li><b>'+ key + '</b>: ' + evt.feature.attributes[key]+"</li>";
        }
        html += "</ul>";
        document.getElementById("featuredetails").innerHTML = html;
    }
    function init() {
        map = new OpenLayers.Map("map", {'theme': null});
        var gmap = new OpenLayers.Layer.Google("Hybrid", {type: google.maps.MapTypeId.HYBRID,numZoomLevels: 20});
        map.addLayer(gmap);
        map.zoomToMaxExtent();
        var layers = [];
        for (var key in LAYER_CONFIG) {
            var layer_info = LAYER_CONFIG[key];

            var layer = new OpenLayers.Layer.Vector(layer_info['title'], {
                strategies: [new OpenLayers.Strategy.Fixed(), new OpenLayers.Strategy.Save()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "/data/"+key,
                    format: new OpenLayers.Format.GeoJSON()
                }),
                layerKey: key
            });
            if (LAYER_CONFIG[key].styleMap) {
                layer.styleMap = LAYER_CONFIG[key].styleMap;
            }   
            LAYER_CONFIG[key].layer = layer;
            map.addLayer(layer);
            layer.events.register('loadend', layer, register);
            layer.events.register('featureselected', null, featureSelected);
            layers.push(layer);
        }
        MyToolbar = OpenLayers.Class(OpenLayers.Control.Panel, {
            initialize: function(options) {
                OpenLayers.Control.Panel.prototype.initialize.apply(this, [options]);
                this.defaultControl = new OpenLayers.Control.SelectFeature(layers, {displayClass: 'olControlNavigation'});
                this.addControls( [this.defaultControl]);
                for (var layer in LAYER_CONFIG) {
                    var info = LAYER_CONFIG[layer];
                    this.addControls( [
                        new OpenLayers.Control.DrawFeature(info.layer, OpenLayers.Handler[info.type], {'displayClass': 'olControlDrawFeature'+info.type, 'title': LAYER_CONFIG[layer].title, multi: info.multi || false})
                    ]);
                    if (info.editable) {
                        this.addControls( [
                            new OpenLayers.Control.ModifyFeature(info.layer, {vertexRenderIntent: 'temporary'})
                        ]);
                    }    
                }
                this.displayClass = 'myToolbar';
            },
            CLASS_NAME: 'MyToolbar'
        });
        var toolbar = new MyToolbar();
        map.addControl(new MyToolbar());
    }
    function register() {
        this.events.register('featureadded', this, added);
        this.events.register('beforefeaturemodified', this, added);
        this.events.unregister('loadend', this, register);
    }
    function added(evt) {
        if (currentFeature && currentFeature.state == "Insert" && currentFeature != evt.feature) {
            currentFeature.layer.removeFeatures(currentFeature);
        }  
        displayForm(evt.feature);
    }

    function displayForm(feature) {
        currentFeature = feature;
        var form = LAYER_CONFIG[feature.layer.layerKey].form;
        var formdom = document.forms[form];
        for (var i = 0; i < formdom.length; i++) {
            if (formdom[i].type == "submit") {continue;}
            if (currentFeature.attributes[formdom[i].name] != undefined) {
                formdom[i].value = currentFeature.attributes[formdom[i].name] || "";
            } else {
                formdom[i].value = "";
            }    
        }
        for (var key in LAYER_CONFIG) {
            document.getElementById(LAYER_CONFIG[key].form).parentNode.style.display = "none";
        }    
        document.getElementById(form).parentNode.style.display = "";
            
    }
    function save() {
        var layer = currentFeature.layer.layerKey;
        var form = LAYER_CONFIG[layer].form;
        var formdom = document.forms[form];
        for (var i = 0; i < formdom.length; i++) {
            if (formdom[i].type == "submit") {continue;}
            currentFeature.attributes[formdom[i].name] = formdom[i].value;
        }
        currentFeature.layer.strategies[1].save([currentFeature]);
        document.getElementById(form).parentNode.style.display = "none";
        currentFeature = null;
    }
    function geocode(form) {
        var text = form.search_text.value;
        var geocoder = new google.maps.Geocoder(); 
        geocoder.geocode( {'address': text }, function(results, status) {
            if (results.length) {
                result = results[0];
                var ne = result.geometry.bounds.getNorthEast();
                var sw = result.geometry.bounds.getSouthWest();
                var bounds = [sw.lng(), sw.lat(), ne.lng(), ne.lat()];
                var bounds = OpenLayers.Bounds.fromArray(bounds);
                map.zoomToExtent(bounds.transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    new OpenLayers.Projection("EPSG:900913")
                ));
            }
        });
    }
</script>


</head>
<body onload="init()">
<div id="geocoder">
<form name="geocoder" onsubmit="geocode(this); return false">
<input type="text" name="search_text" value="Salina, KS" />
<input type="submit" value="Zoom to Location" />
</form>
<div id="map" style="width: 100%; height: 512px; z-index:1; position:relative;"></div>
</div>

<div id="featuredetails" >
</div>
<div id="details" style="display:none;">
<span id="drag_handle1" class="drag_box_handle" >click here to move</span>
  <form id="properties_form" name="properties_form" onsubmit="save(); return false">
    Name/ID#: <input type="text" value="" name="name" /><br />
    Info Links: <input type="text" value="http://" name="links" /><br />
    Photo/Video Links: <input type="text" value="e.g. http://newsoilnet.ning.com/video/keyline-farming-1955" name="photo_vid_links" /><br />
    Whole-Cell Monitoring -<br />
    <i>Successes:</i> <input type="text" value="" name="wcm_success" /><br />
    <i>Problems: </i><input type="text" value="" name="wcm_problem" /><br />
    <i>Strategies:</i><input type="text" value="" name="wcm_plans" /><br />
    General Notes:<br />
    <textarea name="notes"></textarea>    
    <input type="submit" value="Save" />
  </form>
</div>
<div id="other_details" style= "display:none;">
<span id="drag_handle2" class="drag_box_handle">click here to move</span>
  <form id="paddocks_form" name="paddocks_form" onsubmit="save(); return false">
    Name/ID#: <input type="text" value="" name="name" /><br />
    Info Links: <input type="text" value="http://" name="links" /><br />
    Photo/Video Links: <input type="text" value="e.g. http://newsoilnet.ning.com/video/keyline-farming-1955" name="photo_vid_links" /><br />
    Paddock Monitoring -<br />
    <i>Successes: </i><input type="text" value="" name="pm_success" /><br />
    <i>Problems: </i><input type="text" value="" name="pm_problem" /><br />
    <i>Strategies: </i><input type="text" value="" name="pm_plans" /><br />
    General Notes:<br />
    <textarea name="notes"></textarea>
    <input type="submit" value="Save" />
  </form>
</div>

<!-- delete the following script to make cells and properties accept input -->
<script type="text/javascript">
var theHandle1 = document.getElementById("drag_handle1");
var theRoot1 = document.getElementById("details");
var theHandle2 = document.getElementById("drag_handle2");
var theRoot2 = document.getElementById("other_details");
Drag.init(theHandle2, theRoot2);
Drag.init(theHandle1, theRoot1);
</script>
</body>
</html>
