<html>
<head>
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<script>
    LAYER_CONFIG = {
        'properties': {
            'title': 'Properties',
            'form': 'properties_form',
            'type': 'Polygon',
	    'multi': true
        }
    };    
    currentFeature = null;
    var map = null;
    function featureSelected(evt) {
        var type = evt.feature.layer.name;
        var html = '<b>'+type+'</b><ul>';
        for (var key in evt.feature.attributes) {
            html += '<li><b>'+ key + '</b>: ' + evt.feature.attributes[key]+"</li>";
        }
        document.getElementById("featuredetails").innerHTML = html;
    }
    function init() {
        map = new OpenLayers.Map("map", {'theme': null});
        var gmap = new OpenLayers.Layer.GoogleNG({type: google.maps.MapTypeId.HYBRID});
        map.addLayer(gmap);
        map.zoomToMaxExtent();
        var layers = [];
        for (var key in LAYER_CONFIG) {
            var layer_info = LAYER_CONFIG[key];

            var layer = new OpenLayers.Layer.Vector(layer_info['title'], {
                strategies: [new OpenLayers.Strategy.Fixed(), new OpenLayers.Strategy.Save()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "/data/"+key,
                    format: new OpenLayers.Format.GeoJSON()
                }),
                layerKey: key
            }); 
            if (LAYER_CONFIG[key].styleMap) {
                layer.styleMap = LAYER_CONFIG[key].styleMap;
            }    
            LAYER_CONFIG[key].layer = layer;
            map.addLayer(layer);
            layer.events.register('loadend', layer, register);
            layer.events.register('featureselected', null, featureSelected);
            layers.push(layer);
        }
        MyToolbar = OpenLayers.Class(OpenLayers.Control.Panel, {
            initialize: function(options) {
                OpenLayers.Control.Panel.prototype.initialize.apply(this, [options]);
                this.defaultControl = new OpenLayers.Control.SelectFeature(layers, {displayClass: 'olControlNavigation'});
                this.addControls( [this.defaultControl]);
                for (var layer in LAYER_CONFIG) {
                    var info = LAYER_CONFIG[layer];
                    this.addControls( [
                        new OpenLayers.Control.DrawFeature(info.layer, OpenLayers.Handler[info.type], {'displayClass': 'olControlDrawFeature'+info.type, 'title': LAYER_CONFIG[layer].title, multi: info.multi || false})
                    ])
                    this.displayClass = 'myToolbar';
                }
            },
            CLASS_NAME: 'MyToolbar'
        });
        var toolbar = new MyToolbar();
        map.addControl(new MyToolbar());
    }
    function register() {
        this.events.register('featureadded', this, added);
        this.events.unregister('loadend', this, register);
    }
    function added(evt) {
        if (currentFeature) {
            currentFeature.layer.removeFeatures(currentFeature);
        }   
        
        currentFeature = evt.feature;
        var form = LAYER_CONFIG[this.layerKey].form;
        var formdom = document.forms[form];
        for (var i = 0; i < formdom.length; i++) {
            if (formdom[i].type == "submit") {continue;}
            formdom[i].value = "";
        }
        for (var key in LAYER_CONFIG) {
            document.getElementById(LAYER_CONFIG[key].form).parentNode.style.display = "none";
        }    
        document.getElementById(form).parentNode.style.display = "";
    }
    function save() {
        var layer = currentFeature.layer.layerKey;
        var form = LAYER_CONFIG[layer].form;
        var formdom = document.forms[form];
        for (var i = 0; i < formdom.length; i++) {
            if (formdom[i].type == "submit") {continue;}
            currentFeature.attributes[formdom[i].name] = formdom[i].value;
        }
        currentFeature.layer.strategies[1].save([currentFeature]);
        document.getElementById(form).parentNode.style.display = "none";
        currentFeature = null;
    }
    function geocode(form) {
        var text = form.search_text.value;
        var geocoder = new google.maps.Geocoder(); 
        geocoder.geocode( {'address': text }, function(results, status) {
            if (results.length) {
                result = results[0];
                var ne = result.geometry.bounds.getNorthEast();
                var sw = result.geometry.bounds.getSouthWest();
                var bounds = [sw.lng(), sw.lat(), ne.lng(), ne.lat()];
                var bounds = OpenLayers.Bounds.fromArray(bounds);
                map.zoomToExtent(bounds.transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    new OpenLayers.Projection("EPSG:900913")
                ));
            }
        });
    }
</script>
</head>
<body onload="init()">
<div id="featuredetails" style="float:right; width: 300px">
</div>
<div id="details" style="float:right; width: 300px; display:none;">
  <form id="properties_form" name="properties_form" onsubmit="save(); return false">
    Title: <input type="text" value="" name="name" /><br />
    <input type="submit" value="Save" />
  </form>
</div>
<div id="other_details" style="float:right; width: 300px; display:none;">
  <form id="other_form" name="other_form" onsubmit="save(); return false">
    Title: <input type="text" value="" name="title" /><br />
    Description:<br />
    <textarea name="description"></textarea>
    <input type="submit" value="Save" />
  </form>
</div>
<div id="map" style="width: 512px; height: 512px"></div><br />
<div id="geocoder">
<form name="geocoder" onsubmit="geocode(this); return false">
<input type="text" name="search_text" value="San Francisco" />
<input type="submit" value="Geocode" />
</form>
</body>
</html>
